$mainColor: #282c34;
$secondaryColor: #343841;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $secondaryColor;
  color: gray;
}

.App {
  &-header {
    height: 54px;
    width: 100%;
    background-color: $mainColor;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-footer {
    height: 100px;
    width: 100%;
    background-color: $mainColor;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

.card {
  background-color: $mainColor;
}
