$mainColor: #282c34;
$secondaryColor: #343841;

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: gray;

  &:hover {
    color: #9b9b9b;
  }
  &:active {
    color: gray;
  }
}

body {
  background-color: $secondaryColor;
  color: gray;
}

.App {
  &-header {
    height: 54px;
    width: 100%;
    background-color: $mainColor;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-main {
    min-height: 442px;
  }

  &-footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    background-color: $mainColor;
    color: gray;
  }
}

.card {
  background-color: $mainColor;
  transition: background-color 0.5s ease-out;

  &:hover {
    background-color: #22262c;
  }
}

.list-group-item {
  background-color: $mainColor;
}
